* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 61px;
  margin-bottom: 1.5rem;
}

p {
  color: #808080;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.563rem;
}

ul {
  list-style: none;
  padding: 0;
}

li a:any-link {
  text-decoration: none;
  color: black;
}

/*=== NavBar ===*/

header {
  padding: 0 2rem;
  position: relative;
}

nav {
  width: 100%;
  max-width: 1120px;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

/* === Hero-Section ==== */

.background-image {
  padding: 2rem;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70rem;
  margin: 0 auto 2rem;
}

.hero-title {
  padding: 7rem 1rem;
  text-align: left;
}

.hero-paragraph {
  margin-bottom: 3rem;
}

.hero-img {
  text-align: center;
  max-width: 100%;
  padding: 0 15px;
}

.download-button:any-link {
  text-decoration: none;
  cursor: pointer;
  padding: 17px 38px;
  border-radius: 3px;
  background-color: #2e7eed;
  color: #fff;
  outline: none;
  border: none;
  text-transform: uppercase;
}

/* === Features === */

.features-menu {
  text-align: center;
  display: flex;
  max-width: 70rem;
  margin: 0 auto 5rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 3rem 2rem 1rem;
}

.feature-item {
  text-align: center;
  padding: 0 1rem 1rem;
  max-width: 100%;
  height: auto;
}

.feature-item h4 {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  width: 318px;
  line-height: 1.5;
}

.feature-item p {
  color: #6c757d;
  font-weight: 400;
}

/* === Testimonial === */

#testimonial {
  padding-bottom: 6.25rem;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  align-items: center;
  width: 100%;
}

.testimonial-item {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  width: 70rem;
  text-align: left;
}

.testimonial {
  margin-right: auto;
  align-self: center;
  width: 100%;
}

.testimonial h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 3.125rem;
  font-weight: 300;
}

.testimonial p {
  margin-bottom: 1.5rem;
  color: #808080;
}

.testimonial p + p {
  font-family: "Lora", serif;
  margin-bottom: 0.625rem;
  font-style: italic;
  color: #242424;
}

.testimonial-item:last-child {
  flex-direction: row-reverse;
}

.testimonial-img img {
  width: 100%;
}

.testimonial img {
  float: left;
  margin-right: 1rem;
}

/*=== Services ===*/

#services {
  background-color: #fafafa;
  padding: 6.25rem 0;
}

.services-title h2 {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.services-title {
  min-height: 10.5rem;
}

.services {
  margin-inline: 0;
  display: flex;
}

.services div {
  padding: 1rem;
  align-self: center;
}

.service-img {
  min-width: 36.9rem;
}

.services-grid {
  background-color: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 38.313rem));
  grid-template-rows: 11.125rem 11.125rem;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
  padding: 1.25rem;
  max-width: 76.625rem;
  margin-right: auto;
}

.service-img img {
  width: 100%;
}

.fa-chart-simple {
  text-decoration: underline;
}

/* Promo Video */

.video-back {
  position: relative;
  width: 100%;
  z-index: -1;
  display: none;
}

.video-back img {
  width: 100%;
  position: absolute;
  left: 0;
  /* z-index: -1; */
}

.promo-div {
  background-color: transparent;
  margin: 5rem 0;
  padding: 9.375rem 0;
}

.promo-div h2 {
  margin-bottom: 8px;
}

.promo-div p {
  margin: 0 auto 30px;
  max-width: 666px;
}

.fa-play {
  background-color: #2e7eed;
  font-size: 2.5rem;
  width: 7.813rem;
  height: 7.813rem;
  border-radius: 50%;
  text-align: center;
  line-height: 125px;
}

/* Carousel */

#carousel {
  background-color: #fafafa;
  padding: 6.25rem 0;
  margin-top: 2rem;
}

.carousel-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  width: 34.688rem;
  padding: 2.5rem;
  text-align: center;
  margin: 0.7rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.carousel-item p {
  font-family: "Lora", serif;
  font-style: italic;
  color: #888888;
}

.carousel-item img {
  margin: 30px auto 5px;
  display: block;
}

.carousel-item cite {
  font-style: normal;
}

/* CTA */

#cta {
  text-align: center;
  padding: 6.25rem;
  background-color: #2e7eed;
}

#cta h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 8px;
}

#cta p {
  margin-bottom: 60px;
  color: #fff;
}

#cta a:any-link {
  text-decoration: none;
  color: #fff;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.cta-button {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 13px 50px;
  text-transform: uppercase;
  font-weight: 400;
}

/* Contact */

#contact {
  background-color: #1a1b1f;
  padding: 92px 0;
}

.contact-div {
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
}

.social-icon .fa-brands {
  display: flex;
  background-color: #3f3f43;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.socials li {
  display: inline-block;
  margin-right: 0.5rem;
}

.heading {
  text-align: left;
}

.heading h6 {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}

.heading li {
  margin-bottom: 10px;
}

.heading ul a {
  color: #6f6f71;
}

/* Copyright */

footer {
  text-align: center;
  background-color: #343a40;
}

footer small {
  color: #6c757d;
  font-size: 80%;
  font-weight: 400;
  display: block;
  padding: 1.5rem 0;
}

footer small:last-child {
  padding: 0.25rem 0;
  font-size: 1rem;
}

footer a:any-link {
  color: #6c757d;
  text-decoration: none;
}

/* === Media Queries ===*/

@media (max-width: 992px) {
  .feature-item:last-child {
    flex-wrap: wrap;
  }
}